.c-cookie-bar
{
	box-sizing: border-box;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1.5rem 0;
	background-color: rgba(255, 255, 255, 0.9);
	border-top: solid 1px $gray;
	color: $textColor;
	font-size: 1rem;
	z-index: 10;
	transition: bottom 1000ms;
	
	&.hidden {
		bottom:-100%;
	}
}
	.c-cookie-bar__cta
	{
		float: right;
	}

@include media-breakpoint-down(sm)
{
	.c-cookie-bar__description {
		margin-bottom: 1rem;
	}
	
	.c-cookie-bar__cta {
		float: none;
	}
}